<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <%- include ('partials/head.ejs') %>
    <title>
        <%= title%>
    </title>
</head>

<body>
    <%- include ('partials/navigation.ejs') %>
    <header class="container-fluid d-flex justify-content-center align-items-center vh-100" >
        <div class="text-center">
            <img src="/img/logo.png" alt="logo" class="img-fluid mb-4" style="max-width: 200px;">
            <h1 class="display-4 my-4 text-uppercase fw-bold">One Infinity Code</h1>
            <a href="/about" class="btn btn-primary btn-lg">Quiénes somos</a>
        </div>
    </header>

    <%- include ('partials/footer') %>
</body>

</html>
