<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <%- include ('partials/head.ejs') %>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include ('partials/navigation.ejs') %>
    <section class="container-testimony text-center py-4">
        <div class="servtext mb-4">
            <h2 class="display-4">Testimonios de clientes</h2>
            <p class="px-3">
                Nuestros clientes han experimentado los beneficios de trabajar con One Infinity Code. Aquí tienes
                algunos testimonios que reflejan la calidad y el impacto de nuestros servicios:
            </p>
        </div>
        <div class="tes-empresa d-flex flex-column align-items-center justify-content-center my-4">
            <img src="/img/logo.png" alt="logo" class="img-fluid" width="100" height="100">
            <p class="px-3">"La colaboración con One Infinity Code ha sido excepcional. Han superado nuestras
                expectativas en términos de calidad, tiempo de entrega y atención al cliente" <br> Empresa XYZ
            </p>
        </div>
        <div class="tes-empresa d-flex flex-column align-items-center justify-content-center my-4">
            <p class="px-3">"El equipo de One Infinity Code comprendió perfectamente nuestras necesidades y nos
                brindó una solución personalizada que ha mejorado nuestra eficiencia operativa de manera
                significativa" <br> Empresa ABC </p>
            <img src="/img/logo.png" alt="logo" class="img-fluid" width="100" height="100">
        </div>
        <div class="tes-empresa d-flex flex-column align-items-center justify-content-center my-4">
            <img src="/img/logo.png" alt="logo" class="img-fluid" width="100" height="100">
            <p class="px-3">"Recomendaría a One Infinity Code a cualquier empresa que busque soluciones
                tecnológicas de vanguardia. Su enfoque en la innovación y la calidad es impresionante" <br>
                Empresa 123 </p>
        </div>
        <div class="servtext mt-4">
            <p class="px-3">
                Estos testimonios son solo una muestra de la satisfacción de nuestros clientes. Trabajamos arduamente
                para garantizar la excelencia en cada proyecto y mantener relaciones comerciales sólidas y duraderas.
            </p>
        </div>
    </section>
    <%- include ('partials/footer') %>
</body>

</html>
