  /* Estilos de fondo y colores */
  body {
    background: linear-gradient(to top, rgba(30, 35, 39, 0.915), rgba(30, 35, 38, 0.903)),
        url(../img/fondo.png) no-repeat center center;
    background-size: cover;
    color: white;
}

footer {
    background: linear-gradient(rgba(24, 23, 23, 0.377), rgba(56, 54, 54, 0.354));
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Enlaces en el footer */
footer a {
    color: white;
    text-decoration: none;
}

/* Tarjetas estilo */
.card {
    color: white;
    background: linear-gradient(rgba(24, 23, 23, 0.377), rgba(56, 54, 54, 0.354));
}

/* Estilos para mision y vision */
.mision,
.vision {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para imágenes en el carrusel */
.carousel-item img {
    height: 500px;
}

/* Enlaces en el carrusel */
.carousel-item a {
    text-decoration: none;
    color: white;
    background: linear-gradient(rgba(29, 28, 28, 0.673), rgba(44, 42, 42, 0.468));
    font-size: 2em;
    width: 600px;
    text-align: center;
    border-radius: 15px;
}

/* Estilos para menú desplegable */
.dropdown-menu li.drp a {
    color: white;
}

.dropdown-menu li.drp a:hover {
    background-color: #333;
}

.dropdown-menu li.drp a:focus {
    background-color: #555;
}

/* Estilos para la lista en el portafolio */
.container-port li {
    margin-top: 10px;
}

/* Estilos para el formulario de contacto */
.container-form {
    background: rgba(186, 186, 187, 0.149);
    border-radius: 15px;
    width: 300px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.container-form .form-control,
.container-form .form-control:focus {
    background: rgba(186, 186, 187, 0.149);
    color: white;
}

#contactForm {
    width: 250px;
    height: 400px;
}

/* Estilos para el contenido del modal */
.modal-content {
    background: linear-gradient(rgba(29, 28, 28, 0.898), rgba(44, 42, 42, 0.881));
    color: white;
}

.carousel-caption-link{
    background: linear-gradient(rgba(29, 28, 28, 0.802), rgba(44, 42, 42, 0.881));
    color: white;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 5px 0;
    text-align: justify;
    
}
.carousel-item {
    font-size: 10px;
}
.carousel-item a {
    width: 50%;
}

.servtext {
    max-width: 800px; /* Ajusta este valor según tus preferencias */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}
.tes-empresa{
    width: 300px;
}