<footer id="footer" style="margin-top: 15rem;">
  <div class="row p-3">
      <div class="col-md-4 mb-3 mb-md-0 ">
          <div class="card p-3"> 
              <div class="card-body">
                  <h5 class="card-title">One Infinity Code</h5>
                  <p class="card-text" style="margin-bottom: 2px;">
                      <img src="/img/logo.png" alt="logo" class="img-fluid" width="60" height="60">
                      <p>Somos una empresa dedicada a proporcionar soluciones tecnológicas innovadoras para tus necesidades.</p>
                  </p>
              </div>
          </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
          <div class="card p-3"> <!-- Agregado el padding (margen interno) a la tarjeta -->
              <div class="card-body">
                  <h5 class="card-title">Enlaces Rápidos</h5>
                  <ul class="card-text">
                      <li><a href="/">Inicio</a></li>
                      <li><a href="/about">Quiénes somos</a></li>
                      <li><a href="/services">Servicios</a></li>
                      <li><a href="/contact">Contacto</a></li>
                      <li><a href="/portfolio">Portafolio de proyectos</a></li>
                      <li><a href="/testimony">Testimonios de clientes</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-md-4 ">
          <div class="card p-3"> <!-- Agregado el padding (margen interno) a la tarjeta -->
              <div class="card-body">
                  <h5 class="card-title">Contacto</h5>
                  <p class="card-text"> ¡Estamos aquí para ayudarte! Si tienes alguna pregunta, no dudes en ponerte en contacto
                      con nosotros.<br>
                      Teléfono: +123 4567 8910<br>
                      Correo: info@oneinfinitycode.com<br></p>
              </div>
          </div>
      </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
