<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="max-width: 800px; margin: 4rem auto;">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="img/program.png" class="d-block w-100" alt="Desarrollo de software a medida">
          <a href="#" class="carousel-caption d-md-none">Desarrollo de software a medida</a>
      </div>
      <div class="carousel-item">
          <img src="img/devweb.png" class="d-block w-100" alt="Dise침o y desarrollo web">
          <a href="#" class="carousel-caption d-md-none">Dise침o y desarrollo web</a>
      </div>
      <div class="carousel-item">
          <img src="img/app.png" class="d-block w-100" alt="Desarrollo de aplicaciones m칩viles">
          <a href="#" class="carousel-caption d-md-none">Desarrollo de aplicaciones m칩viles</a>
      </div>
      <!-- Resto de los elementos del carrusel -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>
